# Ignore NumPy and Joblib files
*.npy
*.joblib

# Ignore CSV files (if they shouldn't be tracked)
*.csv

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore macOS system files
.DS_Store

# Ignore build and distribution directories
build/
dist/
*.egg-info/
develop-eggs/
.eggs/

# Ignore virtual environments
venv/
env/
.Python

# Ignore logs and temp files
*.log
*.tmp

# Ignore IDE settings
.idea/
*.iml
